language: python

sudo: false

dist: trusty

python:
  - "3.4"

addons:
  postgresql: "9.6"
  apt:
    packages:
      - postgresql-9.6-postgis-2.3

git:
  depth: 1

install:
- rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install 6
- npm -version
- make build

before_script:
- psql -c "CREATE USER \"c2cgeoform\" WITH PASSWORD 'c2cgeoform';" -U postgres
- psql -d postgres -c "CREATE DATABASE c2cgeoform_demo_tests OWNER \"c2cgeoform\";" -U postgres
- psql -d c2cgeoform_demo_tests -c "CREATE EXTENSION postgis;" -U postgres

script: make check && make test
