pyramid
pyramid_chameleon
pyramid_debugtoolbar
pyramid_tm
SQLAlchemy
transaction
zope.sqlalchemy
waitress
colander
ColanderAlchemy>=0.3.2
deform
psycopg2-binary
geoalchemy2
shapely
pyproj
lingua>=2.4
babel
webhelpers
pyramid_beaker
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
