babel
colanderalchemy>=0.3.3
deform>=2.0.4
geoalchemy2>=0.4.0
geojson
lingua>=2.4
psycopg2-binary>=2.7.7
pyramid>=1.10
pyramid_beaker
pyramid_chameleon
pyramid_jinja2
pyproj
shapely>=1.5.17
sqlalchemy>=1.1.13
zope.sqlalchemy>=0.7.7
