@import '../node_modules/ol/ol.css';

.map {
  height: 400px;
  width: 100%;
  position: relative;
  &.hovering:hover {
    cursor: pointer;
  }
}
.c2cgeoform-locate-me-btn {
  top: 4.5em;
  left: 0.5em;
}
.ol-touch .c2cgeoform-locate-me-btn {
  top: 5.5em;
}
.c2cgeoform-locate-me-btn .glyphicon {
  top: 0;
}

.c2cgeoform-controls {
  bottom: 0.5em;
  left: calc(50% - 1em);
  display: flex;
}

.ol-attribution {
  &.ol-uncollapsible {
    height: 1.5em;
  }
  ul {
    font-size: 1.2rem;
  }
}
